@import 'tailwindcss/base';
@import 'tailwindcss/components';


@import 'tailwindcss/utilities';


:root {
    --primary-50: #fff4e2;
    --primary-100: #fee3b6;
    --primary-200: #ffd186;
    --primary-300: #ffbe56;
    --primary-400: #ffb033;
    --primary-500: #ffa219;
    --primary-600: #fc9616;
    --primary-700: #f68612;
    --primary-800: #f0770f;
    --primary-900: #e75d09;

    --secondary-50: #e3f2f9;
    --secondary-100: #bbddf2;
    --secondary-200: #92c8e9;
    --secondary-300: #6ab3e0;
    --secondary-400: #4ca3dc;
    --secondary-500: #3094d7;
    --secondary-600: #2687ca;
    --secondary-700: #1a76b8;
    --secondary-800: #1165a7;
    --secondary-900: #004988;


  --primary: var(--primary-300);
  --secondary: var(--secondary-900);

  --theme-blue: var(--primary);
}
